{% extends 'base.html'%}
{% block content %}

{% load static %}
<div class="d-flex flex-column justify-content-center align-items-center">
  <div class="p-2">
    <h1 class="judul-form">
      UPDATE KASUS
    </h1>
  </div>

  <div class="container">
      <div class="col">
      {% if user.is_authenticated %}
      <form action='' method="POST">
        {% csrf_token %}
        {{ form }}
        <div class="centre-items">
            <input type="submit" class="button1" value="update" margin"auto">
        </div>
      </form>
    {% else %}
    <p>Access restricted! please <a href="{% url 'userlogin:signin' %}" style="color: blue;">sign in</a>!</p>
    {% endif %}
    </div>
    

    </div>

{% endblock %}