{% extends 'base.html'%}
{% block content %}

{% load static %}
<div class="d-flex flex-column justify-content-center align-items-center">
  <div class="p-2">
    <h1 class="judul-form">
      DAFTAR KASUS
    </h1>
  </div>

  <div class="container">
    <form method="POST" class="row my-5">
        {% csrf_token %}
        <input type="text" placeholder="Cari History" name="search" class="col-7 ml-auto" id="SearchField">
        <button type="submit" class="btn col-2 mr-auto" style="margin-left: 1vw;">Cari</button>
    </form>

    <div class="no-result" id="content">
        <p>Hasil Pencarian paling relevan</p>
    </div>
    
    <div class="table-output" >
        <table class="table">
            <thead>
                <tr>
                <th scope="col">Positif</th>
                <th scope="col">Sembuh</th>
                <th scope="col">Meninggal</th>
                <th scope="col">Kasus Aktif</th>
                <th scope="col">Updated on</th>
                <th scope="col">Updated by</th>
                </tr>
            </thead>
            <tbody id="content-tabel">
            </tbody>
        </table>

      </div>


      <div class="col" id="kontn">
        <table class="table">
            <thead>
                <tr>
                <th scope="col">Positif</th>
                <th scope="col">Sembuh</th>
                <th scope="col">Meninggal</th>
                <th scope="col">Kasus Aktif</th>
                <th scope="col">Updated on</th>
                <th scope="col">Updated by</th>
                </tr>
            </thead>
            <tbody>
              <div class="fullTabel">
                {% for xx in kasus %}
                    <tr>
                    <th scope="row">{{xx.positif}}</th>
                    <td>{{xx.sembuh}}</td>
                    <td>{{xx.meninggal}}</td>
                    <td>{{xx.kasusAktif}}</td>
                    <td>{{xx.tanggal}}</td>
                    <td>{{xx.nama}}</td>
                    </tr>
                {% endfor %}
              </div>
            </tbody>
        </table>
      </div>

    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="{% static 'home/homescript.js' %}"></script>

{% endblock %}