{% extends 'base.html' %}

{% load static %}

{% block css %}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="{% static 'csshotline.css' %}" type="text/css">
{% endblock %}

{% block content %}
<!--form section-->
    <section id="form">
    <h1 id="form-title">TAMBAHKAN HOTLINE</h1>
    </section>
    {% if user.is_authenticated %}
    <section>
    <div class="row">
    <form method="POST" action=""  id="form-label">
        {% csrf_token %}
        <table id="input-press">
        {{ tabel_form.as_table }}
        </table>
        <input type="submit" value="KIRIM" id="form-kirim">
        <a id="form-batalkan" href="/hotline/">batalkan</a>
    </form>
    </div>
    {% else %}
    <p>Jika ingin menambahkan data untuk hotline, harap melakukan log in terlebih dahulu.</p>
    {% endif %}

    <div class="container">
        <div class="main">
            <h3 class="title" style="margin-top:4vw;">ALAMAT <span> RUMAH SAKIT</span></h3>
        </div>
        <!-- Search form -->
        <div style="margin:4vw;">
            <div class="form-inline d-flex justify-content-center md-form form-sm active-purple active-purple-2 mt-2">
                <input id="search" class="form-control form-control-sm ml-3 w-75" type="text" placeholder="ketik disini..."
                aria-label="Search" style="padding:1.5vw">
                <input class="btn btn-primary active" id="searchButton" type="submit" value="search">
            </div>
        </div>
    </div>
        
    <div class="card shadow mb-5" style="margin:5vw;">
        <div class="card-body">
          <div class="table-responsive">
            <table class="table" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th>Nama</th>
                  <th>Alamat</th>
                  <th>Wilayah</th>
                  <th>No. Telp</th>
                  <th>Provinsi</th>
                </tr>
              </thead>
              <tbody id="data"></tbody>
          </div>
        </div>
    </div>
    </section>
{% endblock content %}

{% block script %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{% static 'hotline.js' %}"></script>
<script src="http://code.jquery.com/ui/1.10.0/jquery-ui.js"></script>
{% endblock script %}