{% extends 'base.html' %}

{% load static %}

{% block css %}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="{% static 'csshotline.css' %}" type="text/css">
{% endblock %}


{% block content %}
    <section id="hotline">
    <div>
        <h1 id="hot-title">HOTLINE</h1>
    </div>
    <div id="hot-button">
        <a id="hot-button-text" href='addhotline'>Tambah Hotline</a>
    </div>
    <div id="time">
        <button type="button" class="button" onclick="" id="time-button">Click me to display Date and Time.</button>
        <h3 id="demo"></h3>
    </div>

    <div id="my-hotline">
    {% csrf_token %}
    {% for hotline in list_hotline %}
    <div class="flex-container my-item">
        <div><img class="img-responsive overout" src="{{hotline.logo}}" width="auto" height="125px"></div>
        <main class="container">
            <div id="accordion">
                <h3 id="hot-nama">{{hotline.nama}}</h3>
                <div>
                    <p>{{hotline.telp}}</p>
                    <p>{{hotline.alamat}}</p>
                </div>
            </div>
        </main>
    </div>
    {% endfor %}
    </div>
</section>
{% endblock content %}

{% block script %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'hotline.js' %}"></script>
    <script src="http://code.jquery.com/ui/1.10.0/jquery-ui.js"></script>
{% endblock script %}