{% extends 'base.html'%}
{% block title%}
PAC - Artikel
{% endblock %}
{% block content %}
<div class="container py-4">
    <h1 class="display-4 text-center pb-4 border-bottom">Buat Artikel</h1>
    <form method="POST" enctype='multipart/form-data'>
        {% csrf_token %}
        <div class="col-7 ml-auto">
            {{ formA.judul }}
        </div>
        <div class="col-7 ml-auto">
            {{ formA.penulis }}
        </div>
        {% comment %} <div class="col-7 ml-auto">
            {{ formA.waktu }}
        </div> {% endcomment %}
        {% comment %} <div class="col-7 ml-auto">
            {{ formA.gambar }}
        </div> {% endcomment %}
        <div class="col-7 ml-auto">
            {{ formA.gambar }}
        </div> 
        <div class="col-7 ml-auto">
            {{ formA.konten }}
        </div>

        <button type="submit" class="btn btn-dark col-2 mr-auto">Publis Artikel</button>
    </form>
    <hr>
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show mt-4" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}
    {% endif %}


    </div>
</div>

{% endblock content %}
