{% extends 'base.html'%}
{% block title%}
PAC - Daftar Relawan
{% endblock %}
{% block content %}
<div class="d-flex flex-column align-items-center">
  <div class="p-3">
    <h1 class="judul-form">
      DAFTAR RELAWAN
    </h1>
  </div>
  <div class="p-1">
    <div class="form-group">
      <form method = "POST">
        <table>
          {% csrf_token %}
          {{ form.as_table}}
        </table>
        <div class="d-flex align-items-center justify-content-center">
          <button type="submit" class="btn btn-danger">Kirim</button>
          <a href="{% url 'relawan:List-relawan' %}">
          <button type="button" class="btn btn-light">Batalkan</button>
          </a>
        </div>
      </form>
  </div>
  </div>
</div>
{% endblock %}