{% extends 'base.html'%}
{% load static %}
{% block title%}
PAC - Hapus Relawan
{% endblock %}
{% block content %}
<div class="d-flex flex-column justify-content-center align-items-center">
  <div class="p-2">
    <h1 class="judul-form">
      HAPUS RELAWAN!
    </h1>
  </div>
  <form method = "POST" >
    {% csrf_token %}
    <div class="p-2">
      <p>Apakah anda yakin mau menghapus {{relawan.nama}} dari relawan?</p>
      <div class="d-flex align-items-center justify-content-center">
        <button type="submit" class="btn btn-danger" value="Delete" id="dialog" title="Confirmation Required">Hapus</button>
        <a href="{% url 'relawan:List-relawan'%}"><button type="button" class="btn btn-light">Batalkan</button></a>
      </div>
    </div>
  </form>
</div>
<script src="{% static 'js/relawanSearch.js'%}"></script>
{% endblock %}