{% extends 'base.html'%}
{% load static %}
{% block title%}
PAC - Relawan
{% endblock %}
{% block css%}
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% endblock %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-8">
      <h1 class="title-red">
        RELAWAN
      </h1>
    </div>
    <div class="col-4 ">
      <label for="" class="for-search">Cari Relawan Disini</label>
      <input type="text" class="form-control mx-auto" id="searchField" placeholder="Nama/Telp/Email">
    </div>
  </div>
  <div class="fullRelawan">
    <div class="d-flex flex-wrap justify-content-start">
      {% for relawan in object_list%}
      <div class="p ml-3 mb-3">
        <div class="card" style="width: 22em;">
          <div class="card-body">
            <h5 class="card-title">{{relawan.nama}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{relawan.email}}</h6>
            <p class="card-text">{{relawan.alasan}}</p>
            <a href="#" class="card-link text-primary" data-toggle="modal" data-target="#exampleModal{{ relawan.id }}">Lebih Lanjut</a>
            
              <a href="{% url 'relawan:Hapus-relawan' relawan.pk %}" class="card-link text-danger">[Hapus Relawan]</a>
            
          </div>
        </div>
        <div class=" modal fade" id="exampleModal{{ relawan.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title text-danger" id="exampleModalLabel">{{relawan.nama}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <p id="Judul-Modal">SWOT:</p>
                <p class='deskripsi-box' id="Isi-Modal">{{relawan.swot}}</p>
                <p id="Judul-Modal">Minat:</p>
                <p class='deskripsi-box' id="Isi-Modal">{{relawan.tertarik}}</p>
                <p id="Judul-Modal">Alasan ikut Relawan:</p>
                <p class='deskripsi-box' id="Isi-Modal">{{relawan.alasan}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <div id="progressbar"></div>
  <div class="no-result">
    <p>No Results Found</p>
  </div>
  <div class="table-output">
    <div class="d-flex flex-wrap justify-content-start" id="content-relawan">
    </div>

  </div>

</div>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="{% static 'js/relawanSearch.js'%}"></script>
{% endblock %}
