#hot-title {
position: absolute;
width: 449px;
height: 111px;
left: 103px;
top: 6rem;
font-family: Source Sans Pro;
font-style: italic;
font-weight: bold;
font-size: 80px;
line-height: 70px;
color: #A82223;
}

#time {
    background-color: #8B0000;
    color: white;
    position: relative;
    text-align: center;
    margin: 4rem !important;
    width: 296px;
    height: 48px;
    left: 5rem;
    top: 4rem; 
}

#demo {
    background-color: #8B0000;
    color: white;
    position: relative;
    text-align: center;
    margin: 4rem !important;
    width: 296px;
    height: 48px;
    left: 5rem;
    top: 4rem; 
}


#hot-button {
    background-color: #8B0000;
    color: white;
    border-radius: 5rem;
    position: absolute;
    text-align: center;
    width: 296px;
    height: 48px;
    left: 1091px;
    top: 120px;   
}

#hot-button-text {
    color: white;
    font-size: 30px;
    line-height: 45px;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
}
.flex-container {
    display: flex;
    flex-direction: row;
    text-align: left;
    padding-top: 4rem;
  }
.flex-container > div {
    margin: 1rem;
    background-color: whitesmoke;
  }
.my-item {
    flex-basis: 50%;
}
#my-hotline{
    display: flex;
    flex-direction: row;
}
@media (max-width: 800px) {
    .flex-container {
      flex-direction: column;
    }
  }
#hot-row {
    margin-left: 6rem;
    margin-right: 0rem;
    margin-top: 2.5rem;
    margin-bottom: 3rem;
    padding-top: 2rem;
    border-spacing: 1rem;
}
#hot2-img {
    width: 30px; height: 30px;
    box-sizing: border-box;
    border-radius: 5px; 
}
#hot-nama {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 45px;
    color: #A82223;
}
#hot-sisa {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 45px;
    color: black;
}

#form {
    padding: 1rem; 
    padding-left: 5rem;
}
#form-title {
    font-family: Source Sans Pro; font-weight: 500;
    font-size: 60px; line-height: 50px; color: #A82223;
    font-style: italic; font-weight: bold;
    padding-bottom: 1rem; 
}
#form-label {
    font-family: Source Sans Pro; text-align: justify;
    font-size: 30px; line-height: 30px; font-weight: 100;
    color: black; margin-bottom: 2rem; padding-left: 6rem;
}
#form-kirim {
    background-color: #8B0000;
    color: white;
    border-radius: 2rem;
    position: absolute;
    text-align: center;
    width: 200px;
    height: 48px;
    margin-left: 8rem;
}
#form-batalkan {
    color: grey;
    margin-left: 21rem;
}
.helptext {
    display: none;
}
