h1 {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    font-weight: 500;
    color: chocolate;
    margin-top: 100px;
}

.judul-form {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    font-weight: 500;
    color: chocolate;
    margin-top: 100px;
}

.centre-items{
    margin: auto;
}
.table {
    text-align: center;
    width: 80%;
    height: 100%;
    color: #18B6E6;
    border-color: #18B6E6;
    border: solid 1px;
    border-radius: 20px;
  }
  
  .td {
    border: solid 1px;
    border-radius: 4px;
  }
  
  .th {
    border: solid 1px;
    font-weight: 700;
  }
